$font-family-sans-serif: 'Poppins', sans-serif;

$primary: #013549;
$success: #1c8a25;
$danger: #922525;
$warning: #dfcd32;

$nav-dropdown-bg: #121D23;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "custom-light": #d629b1,
    "eskoylar-primary": rgb(77, 154, 183),
);

@import 'bootstrap/scss/bootstrap';

@import 'components/themes';
@import 'components/buttons';
@import 'components/forms';

@import 'layout/navbar';
@import 'layout/hero';
@import 'layout/admin';

@import 'base/globals';