$font-family-sans-serif: 'Poppins', sans-serif;

$primary: #013549;
$success: #1c8a25;
$danger: #922525;
$warning: #dfcd32;
$eskoylar-primary: rgb(77, 154, 183);

$nav-dropdown-bg: #121D23;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "custom-light": #d629b1,
    "eskoylar-primary": $eskoylar-primary,
);

@import 'bootstrap/scss/bootstrap';

// Fix for Modal Backdrop Stacking Issue
.modal-backdrop {
    z-index: 1040 !important;
    background-color: #000 !important;
    opacity: 0.5 !important;
}
.modal {
    z-index: 1060 !important;
}
.offcanvas-backdrop {
    z-index: 1035 !important;
    opacity: 0.5 !important;
}
.offcanvas {
    z-index: 1045 !important;
}

// Remove unintended global glows
* {
    box-shadow: none;
}
body {
    box-shadow: none !important;
    background-attachment: fixed;
}
.dashboard-wrapper {
    box-shadow: none !important;
}

@import 'components/themes';
@import 'components/buttons';
@import 'components/album';
@import 'components/forms';

@import 'layout/navbar';
@import 'layout/hero';
@import 'layout/admin';

@import 'base/globals';
@import 'base/animations';